
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace;
    background-color: #222; /* Цвет фона тёмной темы */
    color: #fff; /* Цвет текста */
}


.header {
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Выравнивание по левому краю */
    gap: 20px; /* Разделение кнопок */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-button {
    color: #fff;
    text-decoration: none;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    white-space: nowrap; /* Запрещает перенос строк внутри кнопки */
}

.header-button img {
    margin-left: 8px; /* Отступ между текстом и картинкой */
    width: auto;
    height: 20px; /* Фиксированная высота для изображения */
}

.header-button:hover {
    background-color: #555; /* Пример изменения фона при наведении */
}


.container {
    display: flex;
    flex-direction: column; /* Изменено */
    align-items: center;
    width: calc(100% - 40px);
    margin: 80px auto 20px auto; /* Добавлен отступ сверху */
    background: #333; /* Цвет фона контейнера */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.text-content {
    width: 100%; /* Изменено */
    padding: 20px;
    text-align: center; /* Изменено */
}

.image-content {
    width: 100%; /* Изменено */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Добавлено */
}

.image-content img {
    max-width: 80%; /* Изменено */
    border-radius: 10px;
    transform: scale(0);
    transition: transform 1s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-content h1 {
    font-size: 2em; /* Изменено */
    animation: fadeInUp 1s ease-in-out;
}

.text-content p {
    font-size: 1em; /* Изменено */
    animation: fadeInUp 1s ease-in-out;
    animation-delay: 0.5s;
}

.highlight {
    font-weight: bold;
    font-size: 1.2em; /* Изменено */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0 20px 20px 20px;
}

.card {
    background: #333;
    padding: 20px;
    margin: 10px;
    width: calc(100% - 40px); /* Изменено */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Изменено */
    }
    .text-content, .image-content {
        width: 50%; /* Изменено */
    }
    .cards-container .card {
        width: calc(33% - 40px); /* Изменено */
    }
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.5em;
    margin-top: 0;
    width: 100%;
}

.card p {
    font-size: 1em;
    margin-bottom: 0;
    width: 100%;
}

.card img {
    margin-top: 25px;
    width: 100%;
    border-radius: 8px;
}

.card h2,
.card p {
    width: 100%;
    text-align: center;
}

.times {
    font-size: 1.5em;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

* {
    font-size: 1.05em;
}

.button {
    color: #fff;
    text-decoration: none;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 1.05em;
    margin-left: auto;
    margin-right: auto;
}

.employee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Полный экран */
    position: relative;
    background-color: #222;
}

.employee-card {
    background: #333;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    max-width: 600px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.employee-card.active {
    opacity: 1;
}

.employee-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.arrow-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.arrow-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.employee-skills {
    margin-top: 10px;
    padding-left: 20px; /* Отступ слева для всего списка */
    list-style-type: none; /* Убираем стандартные маркеры у списка */
}


.employee-skills {
    margin-top: 10px;
    padding-left: 0; /* Убираем отступ слева для всего списка */
    list-style-type: none; /* Убираем стандартные маркеры у списка */
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
}

.employee-skills li {
    display: flex; /* Используем flex-контейнер для выравнивания */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin-bottom: 5px; /* Отступ между элементами списка */
    text-align: center; /* Выравниваем текст по центру */
}

.employee-skills li::before {
    content: "\2022"; /* Юникод символ для маркера точки */
    margin-right: 10px; /* Отступ между маркером и текстом */
}
